
my-name .hello{
  position: sticky;
  //display: inline-block;
  font-family: Times New, Times, monospace;
  //font-weight: bold;
  width: 180px;
  border-style: solid;
  border-width: 6px;
  border-radius:4px;
  border-color: teal;
  padding: 5px;
  left: 45%;
  background: yellow;
  color: blue;
}
