
my-child {
    background: url(/assets/icon/icon.png) #eee 50% 50% / 50px 50px no-repeat;
    display: block;
    height: 50px;
    padding: 10px;
    padding-left: 25px;

    button {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
}
